@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

.test-box{
    background: #cdeecd;
}
.test-blocks{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    text-align: center;
}
.test-circle{
    display: flex;
    justify-content: center;
}
.test-number{
    width: 32px;
    height: 32px;
    background: #328432;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #FFFFFF;
    border: 1px solid black 5px;
    padding: 2px;
    margin: 15px;
}
.exx-text{
    margin: 0px;
    padding-top:30px;
    text-align: center;
    font-size: 28px;
}
.test-text{
    font-size: 28px;
    color: #424141;
    padding-bottom: 20px;
    margin: 0px;
    font-weight: 700;
}
.test-image{
    width: 291px;
    height: 235px;
    background: url(/public/images/test-image.svg);
    margin: 0 auto;
    box-shadow: 2px 4px 15px 3px #0000001F;

}
.question-text{
    font-size: 20px;
    line-height: 28px;
    color: #424141;

}
.answer-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.radio-item {
    position: relative;
    margin: 15px 0px;
    text-align: left;
  }
  
  .radio-item input[type='radio'] {
    display: none;
  }
  
.inpt{
    padding-left: 20px;
}
  .radio-item label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #555353;
  }
  
  .radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid #277F27;
    background-color: transparent;
  }
  
  .radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 9px;
    left: 4px;
    content: " ";
    display: block;
    background: #277F27;

  }
.test-time-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #555353;
}
.timer-img{
    padding: 30px 0px;
}
.result-test{
    width: 128px;
    height: 49px;
    background: #278027;
    border-radius: 12px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    margin-top: 30px;
}
.aswr{
   display: flex;
   align-items: center;
}
.bbttnnnn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #277F27;
}
.bbttnnnn:hover{
   background-color: #277F27;
}
.bbttnnnn:active{
    background-color: #277F27;
 }
 .answer-titl{
     font-size: 15px;
 }