.main-img{
    background:url(../../components/image/car\ 1.png);
    height: 900px;
    background-size: cover;
    background-color: linear-gradient(180deg, #508650 0%, rgba(24, 48, 24, 0) 100%);
  }