.body{
  margin: 0px;
  padding: 0px;
}
.mainImg{
    background:url(../../../public/images/center-img.png);
    height: 900px;
    background-size: cover;
  }
.mainBackground{
    background: linear-gradient(180deg, #508650 0%, rgba(24, 48, 24, 0) 100%);
    padding-top:20px;
}