.auth{
    background: #cdeecd;
    width: auto;
    height: 500px;
    padding-top: 15px;
    padding-bottom: 50px;
}
.title{
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #424141;
    text-align: center;
}
.command__auth{
    text-align: center;
}
.inp{
    outline: none;
    width: 300px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 6px;
    border: 2px solid #7eca7e;
    margin-top: 15px;
}
.btn{
    border: none;
    margin-top: 15px;
    width: 320px;
    height: 40px;
    border-radius: 6px;
    background-color: #7eca7e;
    color: white;
    font-size: 15px;
    line-height: 15px;
}