.auth{
    background: #cdeecd;
    width: auto;
    height: 700px;
    padding-top: 15px;
    padding-bottom: 50px;
}
.title{
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #424141;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
}
.inp{
    outline: none;
    width: 300px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 6px;
    border: 2px solid #7eca7e;
    margin-top: 15px;
}
.btn{
    border: none;
    margin-top: 15px;
    width: 320px;
    height: 40px;
    border-radius: 6px;
    background-color: #7eca7e;
    color: white;
    font-size: 15px;
    line-height: 15px;
}
.info__icons{
    width: 30px;
    height: 30px;
}
.information{
    background: #fff;
    border-radius: 9px;
    color: gray;
    width: 280px;
    height: 210px;
    padding: 10px 20px;
    margin-bottom: 50px;
}
.call{
    margin-top: 10px;
    display: flex;
}
.link__img{
    width: 25px;
    height: 25px;
    margin-top: 2px;
}
.link{
    color: rgb(43, 43, 202);
    text-decoration: underline;
    margin-left: 10px;
}
@media screen and (max-width: 700px) {
    .inp{
        width: 250px;
        height: 30px;
    }
    .btn{
        width: 275px;
        height: 40px;
    }
    .information{
        margin-top: 50px;
        width: 250px;
        height: 230px;
    }
}