@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
.container{
    width: 1100px;
    margin: 0 auto;
    padding: 0px 10px;
}
.centerBlock{
    margin-top: 80px;
    text-align: center;
}
.centerBlock h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 5px;
    margin: 12px;
    color: #FFFFFF;
}
.centerBlock h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 66px;
    line-height: 79px;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: #FFFFFF;
}
.callBtn{
    width: 220px;
    height: 49px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    background: #278027;
    border-radius: 12px;
    border: none;
    margin-top: 100px;
    color: #FFFFFF;
}