.contact{
    background: #cdeecd;
}
.commant{
    display: flex;
    justify-content: space-around;
    padding: 40px 10%;
    grid-gap: 15px;
}
.map{
    width: 407px;
    height: 407px;
}
.title{
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #424141;
}
.icons{
    display: flex;
    justify-content: center;
    grid-gap: 5px;
}
.text{
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    color: #424141;
    padding-top: 30px;
}
.footer_boxs{
    padding: 30px 12%;
}
.footer_box{
    display: flex;
}
.footer_title{
    font-weight: bold;
    font-size: 17px;
    color: #277F27;
    padding-left: 10px;
}
.footer_text{
    font-weight: 500;
    font-size: 12px;
    color: #424141;
    width: 182px;
    height: 28px;
    padding-top: 18px;
}
@media(max-width: 750px){
    .map{
        width: 350px;
        height: 350px;
    }    
}
@media(max-width: 680px){
    .commant{
        flex-wrap: wrap;
    }
}
@media(max-width: 440px){
    .map{
        width: 250px;
        height: 250px;
    }
}