.base{
    background: #cdeecd;
    height: 730px;
    width: auto;
    padding-top: 15px;
    padding-bottom: 50px;
}
.title{
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #424141;
}
.desk{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    flex-wrap: wrap;
}
.autopark{
    width: 400px;
    height: 241px;
    border-radius: 12px;
}
.newPlan{
    font-weight: bold;
    font-size: 18px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.73);
    text-align: left;
}
.text{
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.73);
    margin-top: 25px;
    text-align: left;
}
.secondText{
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.73);
    margin-top: 10px;
    text-align: left;
}
@media screen and (max-width: 700px) {
    .autopark{
        width: 250px;
        height: 200px;
    }
    .texts{
        align-items: center;
        padding: 0 15px;
    }
}