.title{
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #424141;
    text-align: center;
    padding-top: 30px;
}
.box{
    padding: 0 20%;
    background: #cdeecd;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: space-between;
}
.inp{
    background: none;
    border: none;
    margin-left: 20px;
    padding-left: 10px;
    width: 365px;
}
.inp:hover{
    border-bottom: 1px solid #424141;
}
.container:hover{
    border: 1px solid #1CA638;
    border-radius: 12px;
    padding: 5px;
}
.text{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #424141;
}
.btn{
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    background: #278027;
    border-radius: 12px;
    padding: 15px;
    border: none;
    width: 128px;
    height: 49px;
    float: right;
    margin-top: 20px;
}
@media(max-width: 750px){
    .box{
        padding: 0 10%;
    }
    .title{
        font-size: 23px;
    }
    .text{
        font-size: 15px;
    }
    .btn{
        font-size: 15px;
        width: 120px;
        height: 42px;
        padding: 10px;
    }
}