.news{
    background: #cdeecd;
    height: 150%;
    width: auto;
    padding-top: 15px;
    padding-bottom: 50px;
}
.title{
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #424141;
}
.cards{
    margin-top: 25px;
}
.card{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.images{
    width: 160px;
    height: 140px;
    border-radius: 18px;
    margin-top: 20px;
}
.text{
    width: 500px;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 26px;
    margin-left: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #424141;
}
.text:hover{
    background: #277F27;
    cursor: pointer;
    color: #FFFFFF;
    transition: all .2s;
}
@media screen and (max-width: 700px) {
    .text{
        width: auto;
        height: auto;
        margin: 0 auto;
        margin: 15px 15px;
    }
}