.useful__info{
    background: #cdeecd;
    height: 170%;
    width: auto;
    padding: 50px 0;
}
.title{
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #424141;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 70px;
}
.road{
    width: 270px;
    height: 270px;
    border-radius: 18px;
}
.text{
    width: 180px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #424141;
    padding: 10px;
    transform: translateY(-90px);
    margin: 0 auto;
}
.info__text{
    width: 570px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
}
.comment__author{
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
    margin-top: 30px;
}
.comment{
    display: flex;
    flex-wrap: wrap;
}
.author__container{
    display: flex;
    grid-gap: 15px;
}
.author{
    width: 49px;
    height: 49px;
    margin-top: 10px;
    border: 2px solid #228736;
    border-radius: 50%;
    padding: 5px;
}
.author__word{
    width: 440px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin-right: 15px;
}
.btn{
    width: 131px;
    height: 39px;
    background: none;
    border: 2px solid #22652F;
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    margin-top: 25px;
}
.comment__user{
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
}
.user__topic{
    display: flex;
    flex-wrap: wrap;
}
.user__container{
    display: flex;
    grid-gap: 15px;
}
.user{
    width: 49px;
    height: 49px;
    margin-top: 10px;
    border: 2px solid #228736;
    border-radius: 50%;
    padding: 5px;
}
.user__word{
    width: 440px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin-right: 15px;
}

@media screen and (max-width: 900px) {
    .info__text{
        width: auto;
        margin: 0 auto;
        padding: 0 20px;
    }
    .comment__author{
        padding: 0 25px;
    }
    .author__container{
        padding: 0 25px;
    }
    .author__word{
        width: auto;
    }
    .comment__user{
        padding: 0 25px;
    }
    .user__container{
        padding: 0 25px;
    }
    .user__word{
        width: auto;
    }
    .btn{
        margin-left: 65%;
        margin-right: 20px;
    }
}